<html>
<head>
    <title>Shoe Store</title>

<body>
    <h1>{{ brand.getBrandName }}</h1>
    <h3>store(s)</h3>
    {% if stores is not empty %}
        <p>Here are the stores for this brand:</p>
        <ul>
            {% for store in stores %}
                    <li>{{ store.getStoreName }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            There are currently no stores for this brand.
        </p>
    {% endif %}

    <h4>Add an store to this brand:</h4>

    <form action='/add_store' method='post'>
        <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId }}">
        <label for="store_id">Select an store</label>
        <select id='store_id' name='store_id' type='text'>
          {% for store in all_stores %}
            <option value="{{ store.getId }}"> {{ store.getstoreName }} </option>
          {% endfor %}
        </select>
        <button type='submit'>Add store</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
