<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Shoe Store</title>

<body>
    <h1>{{ brand.getBrandName }}</h1>
    <h3>store(s)</h3>
    {% if stores is not empty %}
        <p>Here are the stores for this brand:</p>
        <ul>
            {% for store in stores %}
                    <li>{{ store.getStoreName }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            There are currently no stores for this brand.
        </p>
    {% endif %}

    <h4>Add an existing retailer to this brand:</h4>

    <form action="/add_store" method="post">
        <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId }}">
        <label for="store_id">Select an existing store:</label>
        <select id="store_id" name="store_id" type="text">
          {% for store in all_stores %}
            <option value="{{ store.getId }}"> {{ store.getStoreName }} </option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-success">Add store</button>
    </form>

    <li><a href="/stores">OR Create new store here! </a></li>

    <p><a href='/'>Home</a></p>
</body>
</html>
